* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 15px;
  background-color: #f2f2f2;
}

.form-container {
  background-color: white;
  width: 600px;
  padding: 40px;
  margin: 50px auto;
  border-top: 8px solid blue;
  box-shadow: 0 0 15px;
}

h2 {
  font-size: 30px;
  padding: 25px;
  text-align: center;
}

.input {
  width: 90%;
  position: relative;
  margin: 20px auto;
}

.text-name {
  width: 90%;
  padding: 8px;
}

.name {
  width: 40%;
  padding: 8px;
}

.input i {
  font-size: 20px;
  color: blue;
}
span {
  margin-left: 35.5px;
}
.text-name,
.name {
  border: 1px solid #cccccc;
  outline: none;
}
.radio-button {
  margin-right: 5px;
}
.country {
  display: block;
  width: 95%;
  padding: 8px;
  border: 1px solid #cccccc;
  outline: none;
  margin-left: 15px;
}
.country:hover,
.country:focus {
  color: blue;

  background: #fafafa;
}
.check {
  margin-left: 8px;
}
.button {
  background-color: blue;
  color: white;
  border: 1px solid #cccccc;
  width: 95%;
  padding: 8px;
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}
.button:hover {
  background-color: green;
  
}
